<%= form_for Operator.new, :url => {:action => :create, :controller => :operators} do |f| %>
  <% if operator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(operator.errors.count, "error") %> prohibited this operator from being saved:</h2>

      <ul>
      <% operator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :call_sign %>
    <%= f.text_field :call_sign %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :event_id %>
    <%= f.hidden_field :event_id, value: params[:event_id] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
